{% load static %}
<div class="col-lg-3">
  <div class="cartn_entry">
  <img class = "cartimg" src="{{ cartoon.poster.url }}" alt="Shape of water" height="338" width="225">
  <br/><br/>
  <h5>{{ cartoon.name }}</h5>
  <h6>{{ cartoon.language }}</h6>
  <!--<p>{{ cartoon.description }}</p>
  <h4>genre:</h4> <h5>{{ cartoon.genre }}</h5>
  <h6>{{ cartoon.Duration }}</h6>-->
  <a href="{{ cartoon.download.url }}" download><button class="btn btn-primary">DOWNLOAD</button>
</div>
</div>


<!--<div class="cartn_entry col-lg-5">
  <div style="width: 400px; height: 5px; background-color: #7fa7ec"></div>
  <br>
  <img src="{{ cartoon.poster.url }}" alt="Shape of water">
  <br><br><br>
  <h2>{{ cartoon.name }}</h2>
  <h3>{{ cartoon.language }}</h3>
  <p>{{ cartoon.description }}</p>
  <h4>genre:</h4> <h5>{{ cartoon.genre }}</h5>
  <h6>{{ cartoon.Duration }}</h6>

  <button onclick="window.location='{% url 'cartoon_details' %}'" class="btn btn-primary">DOWNLOAD</button>
  <br>-->
  <!--<br>
  <br>
  <div style="width: 400px; height: 10px; background-color: #5d5a5a"></div>-->
  <!--<br>
</div>
<div style="width: 60px; background-color: #ffffff"></div>-->
