<div class="col-lg-4">
  <div class="calendar_entry">
  <br>
  <h1>CARTOONS</h1>
  <button onclick="window.location='{% url 'cartoon_details' %}'" class="btn btn-primary">Go for CARTOONS</button>
</div>
</div>
<div class="col-lg-4">
  <div class="calendar_entry">
  <br>
  <h1>MOVIES</h1>
  <button onclick="window.location='{% url 'movie_details' %}'" class="btn btn-primary">Go for MOVIES</button>
</div>
</div>
<div class="col-lg-4">
  <div class="calendar_entry">
  <br>
  <h1>TV / WEB SERIES</h1>
  <button onclick="window.location='{% url 'music_details' %}'" class="btn btn-primary">Go for SERIES</button>
</div>
</div>
<!--<div class="calendar_entry col-lg-4">
  <br>
  <h1>CARTOONS</h1>
  <button onclick="window.location='{% url 'cartoon_details' %}'" class="btn btn-primary">Go for CARTOONS</button>
</div>
<div class="calendar_entry col-lg-4">
  <br>
  <h1>MOVIES</h1>
  <button class="btn btn-primary">Go for MOVIES</button>
</div>
<div class="calendar_entry col-lg-4">
  <br>
  <h1>MUSIC</h1>
  <button class="btn btn-primary">Go for MUSIC</button>
</div>-->
